body {
    margin: 0;
    font-family: 'Germania One', sans-serif;
  }
  
  
  
  .header {
    background-color: #7FE9C7;
    text-align: center;
    padding: 10px; /* Reducido el padding */
  }
  
  .header h1 {
    font-size: 64px; /* Tamaño reducido */
    color: #000;
    margin: 0;
  }
  
  .registro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px); /* Ajustado para dar más espacio */
    padding: 10px;
  }
  
  .back-button {
    background: none;
    border: none;
    font-size: 30px; /* Tamaño reducido */
    color: #000;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 20px;
  }
  
  .tarjeta-registro {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 400px; /* Reducido el ancho */
    padding: 20px; /* Reducido el padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Menor separación */
    font-family: 'Germania One', sans-serif;
  }
  
  .icono-persona {
    font-size: 60px; /* Tamaño reducido */
    color: #5A3E85; /* Color ajustado para mayor contraste */
  }
  
  .formulario-registro {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Menor espacio entre los inputs */
    width: 100%;
  }
  
  .input-registro {
    background: #D9D9D9;
    border: none;
    border-radius: 5px;
    height: 40px; /* Reducido el alto */
    padding: 8px;
    font-size: 16px; /* Tamaño de texto reducido */
    font-family: 'Germania One', sans-serif;
  }
  
  .boton-registrarse {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F47F26;
    border: 3px solid #FF9500; /* Reducido el grosor del borde */
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px; /* Tamaño reducido */
    padding: 10px; /* Reducido el padding */
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Germania One', sans-serif;
  }
  
  .boton-registrarse:hover {
    background: #FF9500;
  }
  